{% extends "::base.html.twig" %}
{% block title %}Panier | Orang-Medic{% endblock %}
{% block body %}
    <div class="top_bg">
        <div class="main_top">
            <h4 class="style">Panier</h4>
        </div>
    </div>
    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start grids_of_3 -->
                <div class="grids_of_3">
                    {% set panier = app.request.session.get("panier") %}
                    {% if panier %}
                        {% set produits = panier['prods'] %}
                        {% for produit in produits %}
                            <div class="grid1_of_3">
                                <img alt="image de produit" src="{{ asset(produit.image) }}" />
                                <a href="{{ path("orang_medic_details", { 'nomProd' : produit.libelle }) }}">
                                    <h3> {{ produit.libelle  }}</h3>
                                </a>
                                <a href="#" class="X" title="enlever ce produit">X</a>
                                <span class="price">{{ (produit.prixAchete)|number_format(3, ".", ",")  }}</span>
                            </div>
                            <div class="grid1_of_3">
                                <input title="{{ produit.qteAchete }} {{ produit.libelle }}" name="qte" type="number" max="{{ produit.stock  }}" min="1" value="{{ produit.qteAchete }}" disabled/> 
                            </div>
                        {% endfor %}  
                        <div class="grid1_of_3">
                            <h3>Total : <h4>{{ panier['total']|number_format(3, ".", ",") }} TND</h4></h3>  
                        </div>
                        {% set c = app.request.session.get("client") %}
                        {% if c %}
                            <form name="paypalForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="upload" value="1" />
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="business" value="thunder9662@gmail.com" />
                                <input type="hidden" name="password" value="4PQF66TGHQWWSMD7" />
                                <input type="hidden" name="currency" value="TND" />
                                {% for produit in produits %}
                                    <input type="hidden" name="item_name_{{ loop.index }}" value="{{ produit.libelle }}" />
                                    <input type="hidden" name="item_number_{{ loop.index }}" value="{{ loop.index }}" />
                                    <input type="hidden" name="amount_{{ loop.index }}" value="{{ produit.prixAchete }}" />
                                    <input type="hidden" name="quantity_{{ loop.index }}" value="{{ produit.qteAchete }}" />
                                {% endfor %}  
                                <input type="hidden" name="return" value="http://tomcat-haythem.rhcloud.com/Orang-Medic/transactiontermine" />
                                <input type="hidden" name="cancel_return" value="http://localhost{{ path("orang_medic_homepage") }}" />
                                <input type="hidden" name="cert_id" value="AvEL.GqrTxbFg7y1xFQ2kKGnAjUGASGUKzPLO1scLN4FQvxcWtBtHbVP" />
                                <input type="image" src="https://www.paypal.com/fr_FR/FR/i/btn/btn_xpressCheckout.gif" />
                            </form> 
                        {% else %}
                            <div class="grid1_of_3">
                                <h3>Vous devez être identifié pour pouvoir acheter</h3>
                            </div>
                        {% endif %}  
                    {% endif %}  
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>  
{% endblock %}